.div-menu-mobile::before {
  content: '';
  background-color: #333;
  width: 30px;
  height: 3px;
  display: block;
  box-shadow: 0px -7px 0px 0px #333, 0px 7px 0px 0px #333;
}

.div-menu-mobile {
  cursor: pointer;
}

.ativo::before {
  animation: Mobile 2s forwards;
  box-shadow: -12px 0px 0px 0px #333, 12px 0px 0px 0px #333;
  content: '';
  gap: 5px;
  width: 4px;
  height: 4px;
  border-radius: 200px !important;
}

.ativo {
  cursor: pointer;
  box-shadow: 0px 0px 3px #fea, 0px 0px 6px 3px #fb1;
}

.div-menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  width: 50px;
  height: 50px;
  padding: 8px;
  position: relative;
  border-radius: 8px;
}

.container-mobile {
  display: none;
  position: relative;
}

@media (max-width: 600px) {
  .container-mobile {
    display: block;
  }
}
