.container-conta{
  max-width: 700px;
  margin: 0 auto;
  padding: 26px;
}

.link-nav{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  grid-row: 1;

}

@media(max-width:600px){
  .ul-lista-nav{
    display: none;
  }
}

.ul-lista-nav nav li a .li-menu{
  background-color: #ddd;
  padding: 8px;
  border-radius: 4px;
}
.logout{
  background-color: #ddd;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.ul-lista-nav {
  grid-column: 2;
  grid-row: 1 / 1;
}

.ul-lista-nav nav{
  display: flex;
  align-items: center;
  gap: 25px;
}

.ul-lista-nav nav li .active  img{
  box-shadow: 0px 0px 0px 3px #fea, 0px 0px 6px 3px #fb1;
}
.ul-lista-nav li:hover{
  box-shadow: 0px 0px 0px 3px #fea, 0px 0px 6px 3px #fb1;
}